<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-tgsdk" version="1.6.7">
    <name>Cordova TGSDK Plugin</name>
    <description>YoMob AD SDK</description>
    <author>yomob</author>
    <keywords>yomob,ad,vungle,unityads,adcolony,admob,facebook,oneway,inmobi,applovin,appnext</keywords>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version="7.0.1" />
    </engines> 
    <js-module src="www/tgsdk.js" name="tgsdk">
        <clobbers target="window.tgsdk" />
    </js-module>
    <!-- android -->
    <platform name="android">

    	<!-- for CN -->
        <framework src="src/android/cordova-plugin-tgsdk.cn.gradle" custom="true" type="gradleReference" />
        <!-- for GooglePlay
        <framework src="src/android/cordova-plugin-tgsdk.gp.gradle" custom="true" type="gradleReference" />
        -->
        <resource-file src="tgsdk/android/TGSDK.1.6.7.aar" target="libs/TGSDK.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADAdcolony.1.6.7.aar" target="libs/TGSDKADAdcolony.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADAdmob.1.6.7.aar" target="libs/TGSDKADAdmob.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADApplovin.1.6.7.aar" target="libs/TGSDKADApplovin.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADAppnext.1.6.7.aar" target="libs/TGSDKADAppnext.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADCentrixlink.1.6.7.aar" target="libs/TGSDKADCentrixlink.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADChartboost.1.6.7.aar" target="libs/TGSDKADChartboost.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADDianjoy.1.6.7.aar" target="libs/TGSDKADDianjoy.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADYumi.1.6.7.aar" target="libs/TGSDKADYumi.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADFacebook.1.6.7.aar" target="libs/TGSDKADFacebook.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADInmobi.1.6.7.aar" target="libs/TGSDKADInmobi.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADLeadbolt.1.6.7.aar" target="libs/TGSDKADLeadbolt.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADMobvista.1.6.7.aar" target="libs/TGSDKADMobvista.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADOneway.1.6.7.aar" target="libs/TGSDKADOneway.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADTapjoy.1.6.7.aar" target="libs/TGSDKADTapjoy.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADUnityads.1.6.7.aar" target="libs/TGSDKADUnityads.1.6.7.aar" />
        <resource-file src="tgsdk/android/TGSDKADVungle.1.6.7.aar" target="libs/TGSDKADVungle.1.6.7.aar" />
        
        <resource-file src="tgsdk/android/dagger-2.7.jar" target="libs/dagger-2.7.jar" />
        <resource-file src="tgsdk/android/eventbus-2.2.1.jar" target="libs/eventbus-2.2.1.jar" />
        <resource-file src="tgsdk/android/javax.inject-1.jar" target="libs/javax.inject-1.jar" />
        <resource-file src="tgsdk/android/okhttp-3.4.2.jar" target="libs/okhttp-3.4.2.jar" />
        <resource-file src="tgsdk/android/okio-1.11.0.jar" target="libs/okio-1.11.0.jar" />
        <resource-file src="tgsdk/android/picasso-2.5.2.jar" target="libs/picasso-2.5.2.jar" />
        <resource-file src="tgsdk/android/rxjava-1.2.0.jar" target="libs/rxjava-1.2.0.jar" />
        <resource-file src="tgsdk/android/support-v4-24.1.0.jar" target="libs/support-v4-24.1.0.jar" />
        <resource-file src="tgsdk/android/internal_impl-24.1.0.jar" target="libs/internal_impl-24.1.0.jar" />
        
        <config-file target="config.xml" parent="/*">
            <feature name="TGSDKCordova">
                <param name="android-package" value="com.yomob.tgsdk.cordova.plugin.TGSDKCordova"/>
            </feature>
        </config-file>
        
        <!--
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="overwrite">
    		<manifest xmlns:tools="http://schemas.android.com/tools" />
		</edit-config>
        -->
        
        <config-file target="AndroidManifest.xml" parent="/*">
    		<uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
        </config-file>

    <source-file src="src/com/yomob/tgsdk/cordova/plugin/TGSDKCordova.java" target-dir="src/com/yomob/tgsdk/cordova/plugin" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TGSDKCordova">
                <param name="ios-package" value="TGSDKCordova" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/TGSDKCordova.h" />
        <header-file src="tgsdk/ios/include/TGSDK/TGSDK.h" />
        <source-file src="src/ios/TGSDKCordova.m" />
        
        <source-file src="tgsdk/ios/libTGSDK.1.6.7.a" framework="true" />
        
        <framework src="tgsdk/ios/frameworks/AdColony.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/AppLovinSDK.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/AppTracker.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/AppnextLib.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/AppnextSDKCore.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/Centrixlink.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/ChanceAdSDK.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/Chartboost.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/FBAudienceNetwork.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/FMDB.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/GoogleMobileAds.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/InMobi.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/MVSDK.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/MVSDKInterstitial.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/MVSDKReward.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/OneWaySDK.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/Tapjoy.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/UnityAds.framework" custom="true" />
        <framework src="tgsdk/ios/frameworks/VungleSDK.framework" custom="true" />
        
        
        <resource-file src="tgsdk/ios/resources/__vungle.db" />
        <resource-file src="tgsdk/ios/resources/ChanceAdRes.bundle" />
        <resource-file src="tgsdk/ios/resources/TapjoyResources.bundle" />
        <resource-file src="tgsdk/ios/resources/TGADSDK.bundle" />
        <resource-file src="tgsdk/ios/resources/TGStartedIcon.png" />
        <resource-file src="tgsdk/ios/resources/TGUnstartedIcon.png" />
        <resource-file src="tgsdk/ios/resources/UnityAds.bundle" />
        <resource-file src="tgsdk/ios/resources/vg_close.png" />
        <resource-file src="tgsdk/ios/resources/vg_cta.png" />
        <resource-file src="tgsdk/ios/resources/vg_mute_off.png" />
        <resource-file src="tgsdk/ios/resources/vg_mute_on.png" />
        <resource-file src="tgsdk/ios/resources/vg_privacy.png" />
        
        <framework src="libc++.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="libxml2.tbd" />
        <framework src="libz.tbd" />
        <framework src="Accelerate.framework" />
        <framework src="AdSupport.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="EventKit.framework" />
        <framework src="GLKit.framework" />
        <framework src="iAd.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="MessageUI.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="Social.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="WebKit.framework" />
        <framework src="JavaScriptCore.framework" />
    </platform>
 </plugin>
